# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_USER=playlist
DATABASE_PASSWORD=A!r3n0m@54p0
DATABASE_HOST=pgsql
DATABASE_PORT=5432
DATABASE_NAME=books_playlist
DATABASE_SCHEMA="schema=public"

DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?${DATABASE_SCHEMA}

GOOGLE_BOOKS_KEY=AIzaSyCHYd7uKVoZFf6tzx3Q1HpAgAVn7RZx2p8

REDIS_HOST=redis
REDIS_PORT=6379
